/* --------------------:| HEADER SECTION |:-------------------- */

.header {
    padding: 16px 0;
    width: 100%;
    transition: var(--transition-05);
    background-color: var(--bg-gray-1);
    z-index: 5;
    position: fixed;
    left: 0;
    top: 0;

    // header active
    &.active {
        box-shadow: var(--box-shadow-1);
        animation: slideUP 1s ease forwards;
    }

    .nav-open-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #00000085;
        z-index: 9;
        backdrop-filter: blur(10px);
        display: none;
        transition: var(--transition-05);

        &.active {
            display: block;
        }

    }

    // container
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        // logo
        .logo {
            font-family: var(--secondary-font);
            color: var(--t-white-1);
            font-size: 1.65rem;
            font-weight: 700;
            letter-spacing: 0.3px;
            word-spacing: 1px;
            user-select: none;
        }

        // navigation
        .navigation {

            // nav lists
            .nav-lists {
                display: flex;
                align-items: center;
                gap: 20px;

                .nav-list {

                    .link {
                        position: relative;
                        color: var(--t-white-2);
                        font-weight: 600;
                        text-transform: uppercase;
                        font-size: 0.95rem;
                        letter-spacing: 0.3px;
                        padding: 10px 0;
                        transition: var(--transition-02);

                        &:hover {
                            color: var(--t-white-1);
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            width: 0;
                            height: 2px;
                            border-radius: 5px;
                            background-color: #00a8ff;
                            left: 0;
                            bottom: 5px;
                            transition: var(--transition-02);
                        }

                        &:hover::after {
                            width: 80%;
                        }

                        // link active
                        &.active {
                            color: var(--t-white-1);
                        }

                        &.active::after {
                            content: "";
                            position: absolute;
                            width: 80%;
                            height: 2px;
                            border-radius: 5px;
                            background-color: #00a8ff;
                            left: 0;
                            bottom: 5px;
                            transition: var(--transition-02);
                        }

                    }

                    // contact btn
                    .button {
                        margin-left: 10px;
                    }

                }

            }

            // nav close button
            .nav-close-button {
                display: none;
            }

        }

        // nav open button
        .nav-open-button {
            display: none;
        }

    }

}


/* --------------------:| HEADER SECTION |:-------------------- */

/* ------------------------------------------------------------ */

/* --------------------:| HOME SECTION |:---------------------- */

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;

    // home text section
    .text-content {
        margin-bottom: -20px;

        p {
            text-transform: uppercase;
            font-weight: 600;
            color: var(--t-black-1);
            font-size: 2rem;
            word-spacing: 1px;
            font-family: var(--secondary-font);
        }

        h1 {
            text-transform: uppercase;
            color: var(--t-blue-1);
            font-weight: 700;
            font-size: 4rem;
            margin: 10px 0 15px;
            font-family: var(--secondary-font);
        }

        h2 {
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 0.3px;
            word-spacing: 3px;
            font-size: 2.5rem;
            font-family: var(--secondary-font);
            margin-top: 15px;
        }

        // action button
        .act-btn {
            margin-top: 25px;

            .button_1 {
                margin-left: 10px;

                &:hover {
                    border-color: var(--bg-blue-1);
                    color: var(--t-blue-1);
                }
            }
        }
    }

    // image content section
    .image-content .image-box-container {
        width: 380px;
        height: 450px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;

        // box style
        .box-style {
            width: 100%;
            height: 270px;
            border: 6px solid var(--bg-blue-2);
            border-radius: 10px;
            position: absolute;
            bottom: 0;
            right: 0;

            .box-style-border {
                position: absolute;
                left: 0;
                bottom: -6px;
                height: 6px;
                width: 100%;
                background-color: var(--bg-blue-2);
                z-index: 1;
                border-radius: 5px;
            }

        }

        // image
        .hero-img {
            width: 312px;
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
        }

    }

}

/* --------------------:| HOME SECTION |:---------------------- */

/* ------------------------------------------------------------ */

/* --------------------:| ABOUT SECTION |:---------------------- */

.about {
    background-color: #f2f2f2;

    .section-heading {
        margin-bottom: 70px;
    }

    .image-content {

        .image {
            width: 360px;
            margin: 0 auto;
            overflow: hidden;
            border-radius: 10px;
            transition: var(--transition-02);
            box-shadow: var(--box-shadow-1);
        }

    }

    .text-content {

        .heading {
            color: var(--t-black-1);
            font-weight: 500;
            margin-bottom: 14px;

            span {
                color: var(--t-black-2);
                font-weight: 700;
                text-transform: uppercase;
            }

        }

        .description {
            color: var(--t-black-1);
            font-weight: 500;
            word-spacing: 0.5px;
            margin-bottom: 20px;
            font-size: 1.01rem;

            span {
                color: var(--t-black-2);
                font-weight: 600;
            }

            a {
                color: var(--t-blue-1);
                margin-left: 2px;
                text-decoration: underline;
            }

        }


        .links {

            ul li {
                display: flex;
                margin-bottom: 8px;
                font-weight: 600;
                color: var(--t-black-2);
                font-size: 1.1rem;

                a {
                    display: inline-block;
                    margin-left: 10px;
                    color: var(--t-blue-1);
                    font-size: 1rem;
                    transition: var(--transition-03);
                    
                    &:hover{
                        text-decoration: underline;
                    }
                }

            }

        }

        .act-btn {
            margin-top: 30px;

            .button_1 {
                margin-left: 10px;

                &:hover {
                    border-color: var(--bg-blue-1);
                    color: var(--t-blue-1);
                }

            }

        }

    }

}

/* --------------------:| ABOUT SECTION |:-------------------- */

/* ----------------------------------------------------------- */

/* --------------------:| SKILLS SECTION |:------------------- */

.skills {
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 8%;
        right: 1%;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: #f9edff;
    }

    .dots {
        position: absolute;
        width: 130px;
        opacity: 0.1;
        bottom: 40px;
        left: 0;
    }

    .section-heading {
        margin-bottom: 70px;
    }

    // skill cards
    .skill-card {
        position: relative;
        width: 95%;
        height: 200px;
        padding: 20px 15px;
        background: rgba(233, 230, 243, 0.4);
        backdrop-filter: blur(3px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        margin-bottom: 40px;
        cursor: pointer;
        user-select: none;
        transition: var(--transition-03);
        box-shadow: var(--box-shadow-1);

        &:hover {
            background-color: #f4f4f491;
        }

        .info {
            display: flex;
            align-items: baseline;
            gap: 30px;
        }

        .image {
            width: 70px;
            height: 70px;
            margin-bottom: 15px;

            &.small {
                width: 50px;
            }

        }

        .name {
            font-family: var(--secondary-font);
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--t-black-2);
            letter-spacing: 0.4px;
            margin-bottom: 10px;
            text-transform: uppercase;
        }

        .description {
            color: var(--t-black-1);
            font-weight: 600;
            word-spacing: 0.5px;
        }

    }

}

/* --------------------:| SKILLS SECTION |:------------------- */

/* ----------------------------------------------------------- */

/* --------------------:| PROJECTS SECTION |:----------------- */

.projects {
    background-color: #f2f2f2;

    .section-heading {
        margin-bottom: 70px;
    }

    // project card section
    .p-card-cont {
        margin-bottom: 80px;
    }

    .name-desccription {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;

        .description span {
            background: var(--bs-body-bg);
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 5px;
            box-shadow: var(--box-shadow-1);
            position: relative;

            i {
                transition: var(--transition-03);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &:hover {

                i {
                    transform-origin: center;
                    transform: translate(-50%, -50%) rotate(180deg);
                }

            }

        }

        .description {
            position: relative;

            .desc-submenu {
                position: absolute;
                width: 250px;
                height: auto;
                top: 142%;
                z-index: 3;
                right: 0;
                background: #434343f5;
                padding: 17px 13px;
                color: var(--t-white-1);
                font-size: 0.9rem;
                letter-spacing: 0.1px;
                word-spacing: 1px;
                opacity: 0;
                visibility: hidden;
                transform: translateY(-5px);
                transition: var(--transition-03);
            }

            &:hover .desc-submenu {
                opacity: 1;
                visibility: visible;
                transform: translateY(0px);
            }

        }

    }

    .name {
        color: var(--t-black-2);
        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: 0.5px;
    }

    .project-card {
        width: 90%;
        cursor: pointer;

        // project card image slider
        .slider-container {
            width: 100%;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border: 1px solid var(--bg-blue-2);
        }


        // project action button
        .project-card-act-btn {
            margin-top: 26px;
            gap: 10px;

            .button {
                width: 50%;
            }

            .button_1:hover {
                border-color: var(--bg-blue-1);
                color: var(--t-blue-1);
            }

        }

    }

}

/* --------------------:| PROJECTS SECTION |:----------------- */


/* ----------------------------------------------------------- */

/* --------------------:| CONTACT SECTION |:------------------- */

.contact {

    .section-heading {
        margin-bottom: 70px;
    }

    .contact-form {

        input,
        textarea {
            background-color: rgb(233 230 243 / 40%);
            display: block;
            width: 100%;
            margin-bottom: 20px;
            padding: 10px 13px;
            border: 2px solid var(--bg-blue-2);
            outline: none;
            border-radius: 5px;
            color: var(--t-black-1);
            font-size: 1rem;

            &::placeholder {
                color: var(--t-black-1);
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 0.3px;
            }

        }

        .textarea {
            display: block;
            width: 100%;
            resize: none;
            height: 120px;
        }


    }

    .map {
        height: 100%;
        width: 100%;
        filter: grayscale(0.3);
        border: 1px solid var(--bg-blue-2);

        iframe {
            width: 100%;
            height: 100%;
        }

    }

}

/* --------------------:| CONTACT SECTION |:----------------- */

/* ----------------------------------------------------------- */

/* --------------------:| FOOTER SECTION |:----------------- */

.footer {
    background-color: var(--bg-gray-1);
    padding: 15px 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    h3 {
        margin: 0;
        padding: 0;
        color: var(--t-white-2);
        font-size: 1.4rem;
        font-family: var(--secondary-font);
        letter-spacing: 0.4px;
        font-weight: 500;
    }

    .link-wrapper{
        user-select: none;
    }

    a{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: var(--bg-blue-1);
        height: 30px;
        width: 30px;
        margin-right: 8px;
        border-radius: 50%;
        color: var(--bg-blue-2);
        transition: var(--transition-02);

        &:hover{
            color: var(--t-white-1);
        }

    }

}

/* --------------------:| FOOTER SECTION |:----------------- */